{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <main id="modifier_profil">
        <div class="container mt-5">
            <div class="mb-1">
                <h1 class="d-flex justify-content-center">Modifier mon profil</h1>
            </div>

            <div class="row d-flex justify-content-center mt-2">
                <div class="card" id="carte_part">
                    <img src="{{ asset('/img/uploads/' ~ participant.getImageName()) }}"
                         class="card-img-participant mx-auto mt-5" alt="img_profil">
                    <div class="card-body align-self-center mt-1">
                        <hr>
                        <p><b>{{ participant.nom }} {{ participant.prenom }}</b></p>
                        <p>{{ participant.email }}</p>
                        <p>{{ participant.telephone }}</p>
                    </div>
                </div>
            </div>



            <div class="forms mt-5">

                {{ form_start(form) }}

                <div class="row">
                    <div class="col-6 pe-5">
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="col-6 ps-5">
                        {{ form_row(form.prenom) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 pe-5">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-6 ps-5">
                        {{ form_row(form.telephone) }}
                    </div>
                </div>
                <div class="container">
                    <div class="d-flex justify-content-center pe-5">
                        {{ form_row(form.imageFile) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 pe-5">
                            {{ form_row(form.site, { 'attr': {'hidden': 'hidden'} }) }}
                    </div>
                    <div class="col-6 ps-5">
                        {{ form_row(form.sorties, { 'attr': {'hidden': 'hidden'} })  }}
                    </div>
                </div>
                <div class="container">
                    <div class="d-flex justify-content-center">
                        {{ include('participant/_form.html.twig', {'button_label': 'Modifier mon profil'}) }}
                    </div>
                </div>

                {{ form_end(form) }}

            </div>






{#            <div class="forms">#}
{#                <h1>Edit Participant</h1>#}
{#                {{ include('participant/_form.html.twig', {'button_label': 'Update'}) }}#}
{#                <a href="{{ path('app_participant_index') }}">back to list</a>#}
{#                {{ include('participant/_delete_form.html.twig') }}#}
{#            </div>#}
        </div>
    </main>

{% endblock %}
