{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <div class="forms">
        <h1>Participant</h1>

        {{ participant.id }}
        {{ participant.email }}
        {{ participant.nom }}
        {{ participant.prenom }}
        {{ participant.telephone }}
        {{ participant.administrateur ? 'Yes' : 'No' }}
        {{ participant.actif ? 'Yes' : 'No' }}
        <img src="{{ asset('/img/uploads/' ~ participant.getImageName()) }}" alt="img_profil">



        {% if app.user.id == participant.id %}
            <a class="btn btn-primary" href="{{ path("app_forgot_password_request") }}">Récupérer mon mot de passe</a>
            <a class="btn btn-primary" href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier mon profil</a>
        {% endif %}

    </div>
{% endblock %}
