{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <main id="gerer_profil">
        <div class="container">
            <h1 class="d-flex justify-content-center">Participant</h1>
            <div class="row justify-content-center mx-lg-5 card_profil">
                <div class="col-10">
                    <div class="card " id="carte_part" style="width: 100%;">
                        <img src="{{ asset('/img/uploads/' ~ participant.getImageName()) }}" class="card-img-top mx-auto" alt="img_profil">
                        <div class="card-body">
                            <p>{{ participant.nom }}</p>
                            <p>{{ participant.prenom }}</p>
                            <p>{{ participant.email }}</p>
                            <p>{{ participant.telephone }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {#                <img src="{{ asset('/img/uploads/' ~ participant.getImageName()) }}" alt="img_profil">#}
            {% if app.user.id == participant.id %}
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary"  href="{{ path('app_participant_edit', {'id': participant.id}) }}">Modifier mon profil</a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
