{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
<main id="accueil">
    <div class="container-fluid text-center">
        <h1 id="titre_accueil" class="pt-5">Sorties.com</h1>
        <p>Rien ne vaut une bonne sortie pour se sentir mieux après une dure semaine d'apprentissage !</p>
        <div class="container">
            <div class="row">
                {% for sortie in sorties %}
                    <div class="col-4">
                        <div class="card" style="width: 100%;">
                            <img src="img/uploads/{{ sortie.imageName }}" class="card-img-top mx-auto" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ sortie.nom }}</h5>
                                <p class="card-text">{{ sortie.infosSortie }}</p>
                                <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}" class="btn btn-primary">Détails</a>
                            </div>
                        </div>
                    </div>
                    {#                    <img src= alt="">#}
                {% endfor %}
            </div>


        </div>

    </div>
</main>

{% endblock %}