{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture des inscriptions</th>
                <th>Participants/Places</th>
                <th>État</th>
                <th>Inscrit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y à H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                <td> XXX / {{ sortie.nbInscriptionsMax }} places</td>
                <td>{{ sortie.etatSortie.libelle }}</td>
                <td>
                    {% if app.user in sortie.participants %}
                    <p>X</p>
                    {% endif %}
                </td>
                <td>

                    {% if app.user.id != sortie.organisateur.id %}
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a> -
                        {% if app.user in sortie.participants %}
                            <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Se désinscrire</a> -
                        {%  else %}
                            <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">S'inscrire</a> -
                        {% endif %}
                    {% endif %}

                    {% if app.user.id == sortie.organisateur.id %}
                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a> -
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Publier</a>
                    {% endif %}


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}
