{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}


{% block body %}

    <link rel="stylesheet" href="{{ asset('css/map.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
            crossorigin=""></script>
    <main id="details_sortie">
        <div class="container-fluid">
            <div class="forms row my-5 text-center">
                <h1 id="titre-sortie">Sortie</h1>
            </div>

            <table class="table">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ sortie.nom }}</td>
                </tr>
                <tr>
                    <th>Date et heure de début</th>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Durée</th>
                    <td>{{ sortie.duree }}</td>
                </tr>
                <tr>
                    <th>Date limite d'inscription</th>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Nombre max d'inscrits</th>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ sortie.infosSortie }}</td>
                </tr>
                <tr>
                    <th>Etat</th>
                    <td>{{ sortie.etatSortie.libelle }}</td>
                </tr>
                </tbody>
            </table>


            <div class="container">
                <div onload="init()" id="map">Ici la map</div>
            </div>

            <div class="forms row my-5 text-center">
                <h2>Participants</h2>
            </div>
            <div class="d-flex justify-content-centers" >
                <div class="mx-auto">
                    {% for part in participant %}
                        <p><a href="{{ path('app_participant_show', {'id': part.id}) }}">{{ part.nom }} {{ part.prenom }}</a></p>
                    {% endfor %}
                </div>
            </div>

        </div>
    </main>



    <script>
        function init(){
            const zoomlevel = 15;
            const map = L.map('map').setView([{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}], zoomlevel);
            let marker = L.marker([{{ sortie.lieu.latitude }}, {{ sortie.lieu.longitude }}]).addTo(map);
            marker.bindPopup("<b>Localisation du lieu</b><br>Lieu de la sortie.").openPopup();
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
        }
        init();
    </script>

{% endblock %}
