{% extends 'base.html.twig' %}

{% block title %}Ajouter ville{% endblock %}
{% block body %}
    <main id="ajouter_ville">
        <div class="container-fluid">
            <h1>Ajouter une ville</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn">{{ button_label|default('Save') }}</button>

            {{ form_end(form) }}
            <a href="{{ path('app_ville_index') }}">Villes</a>
        </div>
    </main>


{% endblock %}
